<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RedUsers Management</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">RedUsers Management</a>
        </div>
        <div id="navbar" class="navbar navbar-inverse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/user/add">Add User</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      {{{body}}}
    </div>
  </body>
</html>
